@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-white: #f4f2f2;
  --clr-verdigris: #48a9a6;
  --clr-tan: #d4b483;
  --clr-fuzzy: #c1666b;
  --clr-black: #262525;
  --dark-pastel-green: #20bf55;
  --clr-blue: #0b4f6c;
  --clr-cyan: #01baef;
  --clr-royal-blue-dark: #03256c;
  --clr-denim-blue: #2541b2;
  --clr-blue: #1768ac;
  --clr-green: #188353;
  --box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25),
    -2px -2px 2px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../images/download.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#form {
  width: 400px;
  padding: 20px;
  background-image: url(../images/massimo-adami-n3d10l6_DfY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  font-size: 12px;
}

h1 {
  color: #f08700;
  text-align: center;
}

.input-control {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-icon {
  position: absolute;
  top: 32px;
  left: 10px;
  font-size: 18px;
  color: #03256c;
}

.op-icon {
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 32px;
}

label {
  margin-bottom: 3px;
  font-weight: 500;
  color: #f08700;
  font-size: 0.85rem;
}

input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 12px 0 12px 2.25rem;
  width: 100%;
  font-weight: 500;
  background-repeat: no-repeat;
  background-position: 7px;
  cursor: pointer;
}

input[type="text"] {
  text-transform: capitalize;
}

input[type="email"] {
  text-transform: lowercase;
}

.btn-container {
  text-align: center;
}

button {
  width: 40%;
  margin: 0.5rem 0;
  cursor: pointer;
  padding: 0.6rem 0;
  border: none;
  background-color: #f77c09;
  color: white;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.5s;
}

button:hover {
  transition: all 0.5s;
  background-color: aliceblue;
  color: #f77c09;
}

button:active {
  transform: scale(0.99);
  transition: all 0.25s;
}

.input-control.success i.fa-circle-check {
  font-size: 16px;
  color: #20bf55;
  visibility: visible;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control.error i.fa-circle-exclamation {
  font-size: 18px;
  color: red;
  visibility: visible;
}

.input-control .error {
  text-align: left;
  font-style: italic;
  color: orangered;
  font-size: 0.7rem;
  font-weight: 600;
  height: 13px;
  margin-bottom: 0.75rem;
  margin-top: 3px;
}

/* *********** */
/* icons start */
/* *********** */

.social-icon {
  margin-top: 3rem;
  display: flex;
  column-gap: 25px;
}

.icons {
  width: 40px;
  height: 40px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icons:hover {
  outline-offset: 4px;
}

.icons:hover {
  animation: shake 0.3s;
}

/* instagram */
.fa-instagram {
  color: #d62976;
}

.fa-instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf407 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
  color: white;
}

/* linkedin */
.fa-linkedin {
  font-size: 24px;
  color: #0a66c2;
  background-color: transparent;
}

.fa-linkedin:hover {
  background-color: #0a66c2;
  outline-color: #0077b5;
  color: white;
}

/* github */
.fa-github {
  color: #6e5494;
}

.fa-github:hover {
  color: white;
  outline-color: #6e5494;
  background-color: #282727;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

/* *********** */
/* icons end */
/* *********** */

/* media screen */
@media screen and (max-width: 425px) {
  #form {
    width: 370px;
  }
}